.process{
    width: 500px;
    border-radius: 10px;
    border: 2px solid silver;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;
}
.main-button{
    background-color:goldenrod;
    padding: 10px;
    border-radius: 5px;
    color:darkblue
}
.heading{
    color:rgb(23, 19, 27);
    font-size: 40px;
}
